/* reset CSS */
@import url(./reset.css);

/* PAGE 1 */
    #left_decotext {
      position: relative;
    border: 1px solid #0f0;
    rotate: 270deg;
    margin-left: -30px;
    margin-top: -30px;
    width: 577px;
    height: 141px;


    p {
      display: inline-block;
      gap: 0px;
      font-size: 180px;
      font-weight: 800;
      margin-top: 0px;
      margin-left: 0px;
      width: 560px;
      height: 130px;
      line-height: 105px;
      border: 1px solid #f00;
    }
  }

