@import url(./reset.css);

body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  justify-content: center;
}

.product-detail-A {
  border: 1px solid #f00;
  width: 925px;
  height: 716px;
  display: flex;
  .A-left {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    .thumbs {
      width: 344px;
      height: 458px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .card-gift {
      ul {
        li {
          font-size: 12px;
        }
      }
    }
  }
  .A-right {
    .title {
      h2 {
        font-size: 32px;
        font-weight: 400;
        border: 1px solid #f00;
        margin-bottom: 12px;
      }
    }
    .detail {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-bottom: 12px;
      .detail-left {
        display: flex;
        align-items: end;
        gap: 10px;
        font-size: 24px;
        margin-bottom: ;
        .discount {
          font-size: 16px;
          color: #f00;
        }
        .default-price {
          font-size: 14px;
        }
      }
      .detail-right {
        font-size: 12px;
        display: flex;
        justify-content: end;
      }
    }
  }
}
.desc {
  .reviewdesc {
    font-size: 14px;
  }
  .moreRead {
    font-size: 12px;
    font-weight: bold;
    text-decoration: underline;
  }
}
.benefits {
}
