@font-face {
  font-family: "NotoSansKR";
  src: url("./fonts//NotoSansKR-Medium.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "NotoSansKRBold";
  src: url("./fonts/NotoSansKR-Black.otf") format("opentype");
  font-weight: 900;
}

@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Orbitron:wght@400..900&family=Raleway:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NotoSansKR";
  letter-spacing: auto;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
