/* reset CSS */
@import url(./reset.css);

/* PAGE 1 */
body {
  height: 400vh;
  
}
header {
  width: 100%;
  height: 100vh;
  position: relative;
  #wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
    /* & > video {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0.9;
    } */
    & > iframe {
      object-fit: cover;
      width: 100%;
      height: 100%;
      scale: 1.2;
      position: absolute;
      opacity: 0.9;
    }
  }
  #title {
    width: 100%;
    height: 100vh;
    position: relative;

    #title_name {
      position: absolute;
      width: fit-content;
      margin-left: 50%;
      margin-top: 5%;
      transform: translateX(-50%);
      cursor: pointer;
      &:hover{
        animation: light 2s ease-in;
      }

      .nav_left {
        position: absolute;
        width: fit-content;
        left: -20%;
        top: 18%;
        & > span {
          text-align: right;
          font: bold 1.667vw/1 "NotoSansKRBold";
          display: block;
          flex-direction: column;
          margin-top: 1.042vw;
          }
      }

      h3 {
        width: max-content;
        margin-left: 0.521vw;
        font: bold 3.333vw/1 "NotoSansKRBold";
        
      }
      
      h1 {
        font: bold 9.375vw/1 "NotoSansKRBold";
        text-align: left;
        
      }
      .myname {
        position: absolute;
        right: -30%;
        width: 12.24vw;
        & > span {
          text-align: right;
          display: block;
          font: bold 3.333vw/1 "NotoSansKRBold";
        }
      }
    }
  }
}
@keyframes light {
  0%, 31%, 34%, 39%, 42%, 47%, 50%, 55%, 60%, 67% {opacity: 0;}
  5%, 30%, 35%, 38%, 43%, 46%, 51%, 54%, 68%, 100% {opacity: 0.7;}
  75% {opacity: 0.1;}
}
/*2page*/
#page_second {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  background: url("https://skwid17.cafe24.com/Pj1-profile/bg2page.png") center/cover no-repeat;
  #page_second_title {
    display: flex;
    width: max-content;
    font: bold 1.771vw/1.2 "NotoSansKRBold";
    margin-left: 20.833vw;
    margin-top: 1.979vw;
    margin-bottom: 1.042vw;
  }
  .content_box {
    display: flex;
    margin-left: 20.833vw;
    align-items: center;
    gap: 1.042vw;
    margin-bottom:1.042vh;
    width: 36.458vw;
    #content_boxL {
      width: 19.271vw;
      height: 18.229vw;
      .qna {
        margin: 0.781vw;
        h4 {
          font:bold 1.042vw/1 "NotoSansKR";
          margin-bottom: 0.208vw;
        }
        & > span {
          font:normal 0.833vw/1 "NotoSansKR";
        }
      }
    }
    #content_boxR {
      width: 19.271vw;
      height: 18.229vw;
      .qna {
        margin: 0.781vw;
        h4 {
          font:bold 1.042vw/1 "NotoSansKR";
          margin-bottom: 0.104vw;
        }
        & > span {
          font:normal 0.833vw/1 "NotoSansKR";
          em {
            font: italic 0.625vw/1 "NotoSansKR";
          }
        }
      }
    }
  }
  #tool{
    display: flex;
    flex-direction: column;
    width: 33.333vw;
    height: 16.979vw;
    cursor: pointer;
    position: absolute;
    margin-left: 7.813vw;
    bottom: 4.688vw;
    & > h2 {
      font-size: 3.333vw;

      width: max-content  ;
      margin-left:1.458vw;
      margin-bottom: 1.563vw;
    }
    .tool_wrap{ 

      display: flex;     
      width: max-content;
      margin: 0 auto;
      gap: 1.042vw;
    .toll_list {
      display: flex;
      flex-direction: column;
      width: 5.208vw;
      height: 7.917vw;

      & > article {
        font: bold 1.042vw/1 "NotoSansKRBold";
        text-align: center;
        align-content: center;
        margin-bottom: 1.042vw;
        &:first-child {
          width: 5.208vw;
          height: 5.208vw;
          border: 3px solid transparent;
          background-image: linear-gradient(#fff,#fff), linear-gradient(to right, #c1dfc4 0%, #deecdd 100%);
          background-origin: border-box;
          background-clip: content-box, border-box;
          border-radius: 1.042vw;
        }
      }
      .progress {
        border: 0.052vw solid #6cd484;
        border-radius: 3px;
        padding: 0.26vw;
        .progress-level {
          height: 0.26vw;
        }
      }
    }
  }
  }
  &:hover .progress-level {
    height: 0.26vw;
    background: linear-gradient(to right, #00d1ff, #712eff);
        animation: ani 1.7s;
        animation-fill-mode: both;
  }
.profile{
  position: absolute;
  width: 26.042vw;
  height: 26.042vw;
  right: 10.417vw;
  bottom: 5.208vw;

  background: url("https://skwid17.cafe24.com/Pj1-profile/profile.png") center/contain no-repeat;
}
}
/* 2page ani */
#tool > .tool_wrap > .toll_list:nth-of-type(1) .progress-level {
  width: 80%;
  animation-delay: 0;
}
#tool > .tool_wrap > .toll_list:nth-of-type(2) .progress-level {
  width: 90%;
  animation-delay: 0.2s;
}
#tool > .tool_wrap > .toll_list:nth-of-type(3) .progress-level {
  width: 65%;
  animation-delay: 0.4s;
}
#tool > .tool_wrap > .toll_list:nth-of-type(4) .progress-level {
  width: 60%;
  animation-delay: 0.6s;
}
#tool > .tool_wrap > .toll_list:nth-of-type(5) .progress-level {
  width: 57%;
  animation-delay: 0.8s;
}

@keyframes ani {
  0% {
    width: 0;
    animation-timing-function: cubic-bezier(0.905, 0.015, 0, 0.98);
  }
}


/* 3page */
#page_third{
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://skwid17.cafe24.com/Pj1-profile/bg3page.png") center/cover no-repeat;
  .cards{
    width: 62.5vw;
    display: flex;
    flex-wrap: wrap;

    gap: 2.083vw 1.563vw;
    justify-content: center;
    align-items: center;
    
    #card1 {
      background: url("https://skwid17.cafe24.com/Pj1-profile/card1.png") center/cover no-repeat;

      width: 26.042vw;
      height: 15.625vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      .card_desc{
        color: #fff;
        background: linear-gradient(to top, #333, transparent);
        width: 26.042vw;
        height: 15.625vw;
        top: 110%;
        position: absolute;
        flex-direction: column;  
        text-align: center;
        align-content: center;
        transition: all 0.5s;
        transition-timing-function: cubic-bezier(0.755, 0.055, 0.475, 0.905);
        h3{
          font: bold 1.354vw/1 "NotoSansKR";
          margin-bottom: 1.042vw;
        }
        & > p {
          font: normal 0.938vw/1 "NotoSansKR";
        }
      }
      &:hover .card_desc {
      top: 0%;
      }
    }
    #card2 {
      background: url("https://skwid17.cafe24.com/Pj1-profile/card2.png") center/cover no-repeat;

      width: 26.042vw;
      height: 15.625vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      .card_desc{
        color: #fff;
        background: linear-gradient(to top, #333, transparent);
        width: 26.042vw;
        height: 15.625vw;
        top: 110%;
        position: absolute;
        flex-direction: column;  
        text-align: center;
        align-content: center;
        transition: all 0.5s;
        transition-timing-function: cubic-bezier(0.755, 0.055, 0.475, 0.905);
        h3{
          font: bold 1.354vw/1 "NotoSansKR";
          margin-bottom: 1.042vw;
        }
        & > p {
          font: normal 0.938vw/1 "NotoSansKR";
        }
      }
      &:hover .card_desc {
      top: 0%;
      }
    }
    #card3 {
      background: url("https://skwid17.cafe24.com/Pj1-profile/card3.png") center/cover no-repeat;

      width: 26.042vw;
      height: 15.625vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      .card_desc{
        color: #fff;
        background: linear-gradient(to top, #333, transparent);
        width: 500px;
        height: 15.625vw;
        top: 110%;
        position: absolute;
        flex-direction: column;  
        text-align: center;
        align-content: center;
        transition: all 0.5s;
        transition-timing-function: cubic-bezier(0.755, 0.055, 0.475, 0.905);
        h3{
          font: bold 1.354vw/1 "NotoSansKR";
          margin-bottom: 1.042vw;
        }
        & > p {
          font: normal 0.938vw/1 "NotoSansKR";
        }
      }
      &:hover .card_desc {
      top: 0%;
      }
    }
    #card4 {
      background: url("https://skwid17.cafe24.com/Pj1-profile/card4.png") center/cover no-repeat;

      width: 26.042vw;
      height: 15.625vw;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      .card_desc{
        color: #fff;
        background: linear-gradient(to top, #333, transparent);
        width: 26.042vw;
        height: 15.625vw;
        top: 110%;
        position: absolute;
        flex-direction: column;  
        text-align: center;
        align-content: center;
        transition: all 0.5s;
        transition-timing-function: cubic-bezier(0.755, 0.055, 0.475, 0.905);
        h3{
          font: bold 1.354vw/1 "NotoSansKR";
          margin-bottom: 1.042vw;
        }
        & > p {
          font: normal 0.938vw/1 "NotoSansKR";
        }
      }
      &:hover .card_desc {
      top: 0%;
      }
    }
  }
}

/* 4page */
#page_fourth {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: url("https://skwid17.cafe24.com/Pj1-profile/bg2page.png") center/cover no-repeat;
  .last{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    -webkit-perspective: 700;
    perspective: 700;
    & > h1 {
      position: absolute;
      top: 40%;
      font: bold 4.167vw/1 "NotoSansKR" ;
      transition: all 0.7s;
      cursor: pointer;
      &:hover {
        transform: scale(1.2) rotateX(-80deg);
        text-shadow: 0 15.625vw 5.208vw rgba(0, 0, 0, 0.5);
      }
    }
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #555;
  padding: 4.167vw 0;
  border-top: 0.052vw solid #000;
  .inner {
    width: 61.979vw;
    margin:  auto;
  }
  .upper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.042vw;
    border-bottom: 0.104vw solid #777;
    & > h2 {
      color: #111;
      text-transform: uppercase;
      font: bold 1.458vw/1 "NotoSansKR";
      
    }
    ul {
      display: flex;
      gap: 1.563vw;
      li{
        &:hover {
          color: #fff;
        }
          a{
            font: bold 1.042vw/1 "NotoSansKR";
          }
      }
    }
  }
  .lower {
    padding-top: 0.521vw;
    display: flex;
    justify-content: space-between;
    address {
      color: #111;
      font: normal 0.729vw/1 "NotoSansKR";
    }
    p{
      color: #111;
      font: normal 0.833vw/1 "NotoSansKR";
    }
  }
}
}
  }




/* mobile */
@media screen and (max-width: 1190px) and (min-width: 360px) {

}

